<footer id="contact" class="flex-container flex-container-column">
  <section class="flex-wrap min-size-small flex-container present">
    <h2 class="shadow"><i class="fa fa-id-card" aria-hidden="true"></i> Contactez-Moi: <h2>
    </section>
    <p>Contactez moi par mail : <a href="mailto:smjsoares@hotmail.fr" target="_blank">smjsoares@hotmail.fr</a></p>
    <a href="https://github.com/StephSoares" target="_blank"><i class="fa fa-github fa-4x" aria-hidden="true"></i></a>
    <br>
    <small>Copyright 2017 Stéphane SOARES</small>
  </footer>
</body>
</html>
