<div>
  <section class="flex-wrap min-size-small flex-container present">
    <h2 class="formulaire">Le formulaire</h2>
  </section>
  <hr width="30%" color="#01882E">
  <section class="flex-wrap min-size-small flex-container form">
    <div class="min-size-small flex-container">
      <a href="./projet3/index.php" target="_blank"><img src="./image/système_connexion.png" class="imgForm"></a>
    </div>
    <div class="half-size min-size-small">
      Voici un autre TP/Projet que j'ai pu réaliser durant ma formation chez IT-Akademy. C'est un formulaire, qui une fois vos infos rempli vont directement à la base de données.
      Grâce à ce formulaire de contact que j'ai pu crée j'ai appris à gérer des données dans une base de données mais aussi à pouvoir crée ses données (ex : le formulaire d'inscription) et les stockés dans la base de données.
    </div>
  </section>

</div>
