<div>
  <section class="flex-wrap min-size-small flex-container present">
    <h2 class="halloween"><img src="./jsGame/image/livre.png" style="width:70px;">The Halloween Game</h2>
  </section>
  <hr width="30%" color="#930505">
  <section class="flex-wrap min-size-small flex-container game">
    <div class="min-size-small flex-container">
      <a href="./jsGame/index.html" target="_blank"><img src="./image/captureGame.png" class="imgHalloween"></a>
    </div>
    <div class="half-size min-size-small">
      Je vous présente un TP que j'ai pu réaliser dans cette formation. C'est un mini jeu très classique. Grâce à ce petit jeu, j'ai pu apprendre le code JavaScript.
      C'est un codage assez classique.
      J'espère que vous allez vous amusez avec ce petit jeu et entrer dans l'univers de JSON le fantôme !
    </div>
  </section>

</div>
