<!DOCTYPE html>
<html lang="fr_FR">
<head>
  <meta charset="utf-8">
  <title>Stéphane SOARES PortFolio</title>
  <link rel="stylesheet" href="style.css" media="all">
  <link href="https://fonts.googleapis.com/css?family=Cairo:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="./image/logo_Ssoares.png" />
  <body>
    <header class="flex-container flex-container-column">
      <img src="./image/logo_Ssoares.png" class="logo" alt="logo">
      <h3>Developpeur Web Junior</h3>
      <ul class="list-no-style flex-contain">
        <li><a href="#presentation"><i class="fa fa-user-circle-o fa-1x" aria-hidden="true"></i> Présentation</a></li>
        <li><a href="#competences"><i class="fa fa-list" aria-hidden="true"></i> Compétences</a></li>
        <li><a href="#portfolio"><i class="fa fa-laptop" aria-hidden="true"></i> PortFolio</a></li>
        <li><a href="#contact"><i class="fa fa-id-card" aria-hidden="true"></i> Contact</a></li>
      </ul>
    </header>
