<div id="portfolio">
  <section class="flex-wrap min-size-small flex-container present">
    <h2><i class="fa fa-laptop" aria-hidden="true"></i> Portfolio<h2>
    </section>
    <hr width="70%" color="#E39501">
    <section class="flex-wrap min-size-small flex-container tableau">
      <div class="related-post-item">
          <a class="link" href="./scriptgame.php" target="_blank"><img src="./image/captureGame.png" class="imgFake">
          <span class="related-post-title">The Halloween Game</span></a>

          <a class="link" href="./scriptform.php" target="_blank"><img src="./image/système_connexion.png" class="imgFake">
          <span class="related-post-title">Le Formulaire</span></a>
      </div>
      </section>

    </div>

</main>
