<main>
  <div id="presentation">
    <section class="flex-wrap min-size-small flex-container present">
      <h2><i class="fa fa-user-circle-o fa-1x font_text" aria-hidden="true"></i> Ma présentation<h2>
      </section>
      <hr width="70%" color="#E39501">
      <section class="flex-wrap min-size-small flex-container">
        <div class="min-size-small flex-container">
          <img src="./image/photo_steph.png" class="book">
        </div>
        <div class="half-size min-size-small">
          <h2>Ma Bio</h2>
          <p>Bonjour je suis Stéphane SOARES. Né le 7 décembre 1993, j'ai su que mon avenir allait commencer à ce moment même ...
            Depuis tout petit, j'ai toujours eu des rêves pleins les yeux. J'ai voulu être tantôt pompier, policier, astronaute ... Mais j'ai trouvé une autre voie.
            Quelques années plus tard, j'ai fais un BTS Eléctrotechnique, je me suis dit que l'électicité était quelque chose de passionnant et surtout qu'il y avait beaucoup d'opportunités à saisir.
            Mais quelques mois plus tard, j'étais un peu lassé du monde de l'électricité.
            C'est alors qu'une nouvelle porte d'entrée entre dans ma vie. Une porte assez spéciale ...
            Cette porte est le monde du numérique. J'ai pu découvrir les métiers fascinants qui s'y trouvaient.
            Je me suis pris de passion pour l'informatique et le développement. C'est alors que je prends une grosse décision dans ma vie ...
            Je pars donc à la conquête d'une formation qui me plaira et qui me prendra sans forcément avoir de compétence dans le domaine, et de là, je cherche, je travail un peu de mon côté pour connaitre au minimum le codage (j'avais encore pas beaucoup d'expériences donc tout était très confus)  ... Et là je trouve la perle rare.
            Cette formation c'est IT-Akademy. Ils m'ont aidé à intégrer le monde du web et à m'initier au métier de Développeur Web.
          </p>
        </div>
      </section>
    </div>
