body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  background-color:  #FEFEFE;
}
header {
  background: url(./image/lisbon-2543511_1920.jpg) no-repeat center;
  padding-top: 100px;
  overflow: hidden;
}

.logo {
  width: 35%;
}
.book {
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50%;
  width:250px;
  height:250px;
  box-shadow: 0px 0px 20px black;
}
.imgFake{
  width: 300px;
  height: 150px;
}
.related-post-item {
  display: flex;
  width: 33.333%;
  margin: 0;
  justify-content: center;
}

.link:hover{
  padding: 10px 12px 3px 12px;
  border-bottom-color: white;
}
.link {
  display: flex;
  width: 100%;
  padding: 10px 12px 3px 12px;
  border-bottom: 4px solid #E39501;
  margin: 4px;
  flex-direction: column;
  text-align: center;
  background: #E39501;
  box-shadow: 0 1px 3px rgba(0,0,0,.3), 0 2px 6px rgba(0,0,0,.2);
}

a:hover{
  text-decoration: none;
}
.link:active span, .link:hover span {
  color : white;
}
.related-post-title {
  display: block;
  margin-top : 30px;
  padding-bottom: 10px;
  color: black;
  font-size: 0.95em;
  line-height: 1.35;
}
.imgHalloween {
  width: 700px;
  height: 350px;
  box-shadow: 0px 0px 15px black;
}
.imgForm {
  width: 700px;
  height: 350px;
  box-shadow: 0px 0px 15px black;
}
.game {
  margin: 5%;
  text-align: center;
}
.form {
  margin: 5%;
  text-align: center;
}
.row {
  margin-top: 30px;
  margin-bottom: 20px;
}
footer {
  background-color: #E39501;
  flex-direction: column;
  color : white;
}

footer:hover a {
  list-style: none;
  text-decoration: none;
  color: #FFF;
}
footer a {
  list-style: none;
  text-decoration: none;
  color: #FFF;
}
#contact{
  padding-top: 10px;
}
#presentation {
  margin-top: 60px;
  margin-bottom: 60px;
}
#competences {
  background-color: #E6E6E6;
  padding : 60px;
  margin-top : 60px;
}
#portfolio {
  margin-top: 60px;
  margin-bottom: 60px;
}
.shadow {
  text-shadow: 0px 0px 20px black;
}
.flex-container {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.flex-container-column{
  flex-direction: column;
}
header ul {
  margin-top: 120px;
  padding: 0;
  list-style: none;
}
header li {
  margin-left: 2px;
  padding-right: 30px;
  padding-left: 30px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 2px 2px black;
}
li:hover a {
  color : #E39501;
}
header li a {
  color: #fff;
  text-decoration: none;
}

header h3 {
  color:#FFF;
  margin:0;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px black;
}
section h2 {
  text-transform: uppercase;
}

.present {
  margin: 20px;
  font-family: 'Raleway', sans-serif;
  color : #E39501;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 25px;
}
.tableau{
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.present h2 {
    margin:0;
}
.half-size{
  width: 60%;
}
.flex-contain{
  display:flex;
  justify-content: center;
  align-items: center;
}
.list-no-style li a {
  padding-left: 0;
  text-decoration: none;
}

.flex-wrap{
  flex-wrap: wrap;
}
.section-container{
  padding-left: 10%;
  padding-right: 10%;
}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: white;
}
.halloween {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 60px;
  text-align: center;
  font-family: 'Creepster', cursive;
  color: #930505;
  margin: 0;
}
.formulaire {
  font-family: 'Revalia', cursive;
  color :#01882E;
}
.game .flex-container {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width:800px){
  .flex-container{
    padding-top: 3%;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media screen and (max-width:1500px){
  .flex-container{
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
  }
}
